@model MVCCoreApp.Models.HomeModel;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <p> @Model.Message</p>

    @{ 
        var greeting= "Hello";
    }

    <p>@greeting</p>

</head>
<body>
</body>
</html>
